body{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.api{
    position:absolute;
    width: 90%;
    max-width: 1200px;
    left: 1200px;
    top: 0px;
   color: darkorange;
}


h1{
    color: darkblue;
    font-size: 70px;
    font-style: unset;
    font-weight: bold;
}
.logo{
    color: blue;
    width: 90%;
    max-width: 1200px;
}
.quienes{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

.quees{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

.como{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

.nft{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}



.donaciones{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

.creatividad{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

