body{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://iaeloko.com/gallery_gen/f95b1020460c2c7dafb9e111376757ad.jpg);
     ;
     
}

.ino{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;


}

.pezb{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;

}
.api{
    position:absolute;
    width: 90%;
    max-width: 1200px;
    left: 0 auto;
    top: 50px;
   color: darkorange;
   text-align:left;
   font-size:large;
   
   

}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    

}


h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-style: unset;
    font-weight: bold;
}
.logo{
    color: rgb(76, 76, 246);
    text-align: center;
    
}
.quienes{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

.quees{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

.como{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    
}

.nft{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    
}



.donaciones{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    
    
}

.creatividad{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    
}

